@media screen and (max-width: 480px) and (max-height: 640px) {

	.menu-vertical a {
		padding: 1.2em; 
	}

	html, body {
		font-size: 14px;
	}

	.slidemenu a {
		font-size: 16px;
	}

	#bigtext {
		font-size: 22px;
	}

	#button, #bigbutton, #medbutton, .input{
		height: 35px;
	}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

	.menu-vertical a {
		padding: 1.2em;
	}

	html, body {
		font-size: 15px;
	}

	.slidemenu a {
		font-size: 17px;
	}

	#bigtext {
		font-size: 23px;
	}

	#button, #bigbutton, #medbutton, .input{
		height: 40px;
	}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

	.menu-vertical a {
		padding: 1.3em;
	}

	html, body {
		font-size: 16px;
	}

	.slidemenu a {
		font-size: 18px;
	}

	#bigtext {
		font-size: 24px;
	}

	#button, #bigbutton, #medbutton, .input{
		height: 45px;
	}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {

	.menu-vertical a {
		padding: 1.4em;
	}

	html, body {
		font-size: 17px;
	}

	.slidemenu a {
		font-size: 19px;
	}

	#bigtext {
		font-size: 25px;
	}

	#button, #bigbutton, #medbutton, .input{
		height: 50px;
	}
}